<div class="stats-section">
<table>
<tr><th></th><th>5m</th><th>1h</th><th>24h</th><th>7d</th></tr>
<tr><td>Uptime</td><td>{uptime_5m}</td><td>{uptime_1h}</td><td>{uptime_24h}</td><td>{uptime_7d}</td></tr>
<tr><td>Avg ms</td><td>{avg_5m}</td><td>{avg_1h}</td><td>{avg_24h}</td><td>{avg_7d}</td></tr>
<tr><td>Min ms</td><td>{min_5m}</td><td>{min_1h}</td><td>{min_24h}</td><td>{min_7d}</td></tr>
<tr><td>Max ms</td><td>{max_5m}</td><td>{max_1h}</td><td>{max_24h}</td><td>{max_7d}</td></tr>
<tr><td>Loss</td><td>{loss_5m}</td><td>{loss_1h}</td><td>{loss_24h}</td><td>{loss_7d}</td></tr>
</table>
</div>
<div class="pings-header">{pings_label}</div>
<div class="pings-grid">
<div class="pg-row pg-head"><span>{time_col_label}</span><span></span><span></span></div>
{detail_rows}
</div>
